.toolcard{
    border: 1px solid black;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.icon{
    margin-left: auto;
    margin-right: auto;
}
.collections{
    display: flex;
    margin-top: 55px;
    margin-left: 45px;
    margin-right: 45px;
}
.toolcard:hover{
    box-shadow: 4px 4px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
    transform: translateY(-20px);
    border: 2px solid #ff3700;
}
.icon:hover{
    color: #ff3700;
    transition: 0.2s ease-in-out;
}