.educard{
    margin-left: 45px;
    margin-right: 45px;
    padding: 20px 40px;
    background-color: #222331;
    width: 200px;
    border-radius: 20px;
    margin-top: 55px;
    box-shadow: 0 4px 8px 0 #222331;
    border: 5px solid #ff3700;
}
.educard:hover{
    box-shadow: 0 4px 8px 0 #222331;
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}

.icon1{
    font-size: 2rem;
    color: #ff3700;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 15px;
}
.p2{
    margin-top: 10px;
    font-size: 1.1rem;
    color: white;
}