.color{
    color: #ff3700;
}
.services{
    align-items: center;
    margin-top: 75px;
    margin-left: 50px;
    margin-right: 80px;
}
.row{
    display: flex;
    
    align-items: center;
}
.btn{
    margin-left: auto;
    background-color: #ff3700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: #222331;
    transition: 0.2s ease-in-out;
}
.h2{
    margin-bottom: 20px;
}
.cards{
    display: flex;
    justify-content: center;
}
.card{
    background-color: #222331;
    padding: 20px;
    border-radius: 15px;
    margin-right: 20px;
    width: 260px;
    height: 370px;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.icon{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    color: #ff3700;
    font-size: 1.5rem;
    padding: 15px;
}
.h3{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.para{
    text-align: center;
    color: white;
}
.btnc{
    margin-top: auto;
    background-color: #ff3700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.card:hover{
    transform: translateY(-10px);
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}