.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.title{
    color: #ff3700;
}
.svg{
    border-radius: 20%;
    width: 400px;
    height: auto;
    display: block;
    margin-right: 4cm;
    
}
.w{
    text-decoration: none;
    color: black;
    border-radius: 35px;
}
.h{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.big{
    font-size: 3rem;
    margin-bottom: 20px;
}
.left{
    width: 50%;
    margin-left: 1cm;
}
.buttons{
    display: flex;
    margin-top: 30px;
}
.right{
    margin-right: -4cm;
}
.btn1{
    background-color: #ff3700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    color: #222331;
    border: 2px solid #222331;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.btn1:hover,
.btn2:hover,
.w:hover{
    background-color: #222331;
    transition: 0.2s ease-in-out;
    color: white;
}
@media (max-width: 1046px){
    .hero{
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 200%;
        height: auto;
    }
    .h{
        font-size: 1.2rem;
        margin-top: 70px;
        margin-bottom: 40px;
    }
    .left{
        margin-right: 11cm;
        width: 40%;
        
    }
    .big{
        font-size: 2.2rem;
        margin-bottom: 70px;
    }
    p{
        font-size: 0.8rem;
    }
    .buttons{
        align-items: center;
        justify-content: center;
        margin-top: 40px;
    }
    .svg{
        width: 250px;
        margin-left: -10cm;
        margin-top: 2cm;
        margin-bottom: 1.5cm;
    }
}
