.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.title{
    color: #ff3700;
}
.svg{
    border-radius: 20%;
    width: 400px;
    height: auto;
    display: block;
}
.w{
    text-decoration: none;
    color: black;
    border-radius: 35px;
}
.h{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.big{
    font-size: 3rem;
    margin-bottom: 20px;
}
.left{
    width: 50%;
}
.buttons{
    display: flex;
    margin-top: 30px;
}
.btn1{
    background-color: #ff3700;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-right: 20px;
    cursor: pointer;
}
.btn2{
    background-color: transparent;
    color: #222331;
    border: 2px solid #222331;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}
.btn1:hover,
.btn2:hover,
.w:hover{
    background-color: #222331;
    transition: 0.2s ease-in-out;
    color: white;
}
