
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN+Guides&display=swap');.h1{
    text-align: center;
    margin-top: 120px;
}
.p1{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}
.about2{
    margin-left: 45px;
    margin-right: 45px;
}
.text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-family:  "Playwrite IN Guides", cursive;
}
.ps{
    padding: 40px;
    background-color: #ff3700;
    border-radius: 30px;
}
@media (max-width: 1046px){
    .about2{
        margin-left: 15px;
        margin-right: 15px;
    }
    .ps{
        padding: 30px;;
    }
}