.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #222121;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    max-width: 1250px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.25);
}
.header{
   padding-left: 45px;
   padding-right: 45px;
}
.menu {
    display: flex;
    list-style: none;
    gap:  60px;
    align-items: center;
    
}
.menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 300;
    color: white;
}
.menu li:hover {
    cursor: pointer;
    color: tomato;
    transition: 0.3s;
}
.circle  {
    background-color: #ff3700;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 20px;
    color: white;
    align-items: center;
    font-size: 1rem;
    font-weight: 450;
    justify-content: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 14%;
    margin-right: 14%;
}
.logo p{
    color: white;
    font-size: 1rem;
}
.mmenu{
    display: none;
}

/* Responsive Design */
@media (max-width: 1046px){
    .menu{
        display: none;
    }
    .mmenu{
        display: block;
    }
    .header{
        margin: 0;
        max-width: 200px;
    }
    .navbar{
        justify-content: space-between;
        flex: 1;
    }
    .logo{
        margin-left: 15px;
    }
    .mmenu{
        list-style: none;
        display: block;
        text-align: center;
        background-color: #222121;
        border-radius: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
        color: white;
    }
    .mmenu li{
        font-size: 15px;
    }
    
}