@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}
#root{
    overflow-x: hidden;
    overflow-y: hidden;
    
    display: flex;
    flex-direction: column;
     height: 100%;
    margin: 0;
}
 body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #333221 #ff3700;
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #333221;
}
::-webkit-scrollbar-thumb{
    background-color: #ff3700;
    border-radius: 4px;
}



body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#root{
    display: flex;
    flex-direction: column;
}
.main-content{
    flex: 1 0 auto;
}
footer, .footer{
    flex-shrink: 0;
}
html{
    scroll-behavior: smooth;
}

.body{
    overflow-y: inherit;
    min-height: 75vh !important;
}