@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}
body{
    position: relative;
    min-height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}

html , body{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}
.main-content{
    flex: 1 0 auto;
}
footer, .footer{
    flex-shrink: 0;
}
html{
    scroll-behavior: smooth;
}
#about {
    scroll-margin-top: 80px;
}